<div class="main">
  <ion-content [fullscreen]="true" overflow-scroll="false" class="contenedor">
    <ion-segment value="default">
      <ion-segment-button value="admin" (click)="CargaUsuarios(1)">
        <ion-label style="font-size: 13px;font-family: Mokoto;" >Admin</ion-label>
      </ion-segment-button>
      <ion-segment-button value="user" (click)="CargaUsuarios(2)">
        <ion-label style="font-size: 13px;font-family: Mokoto;">Usuario</ion-label>
      </ion-segment-button>
      <ion-segment-button value="guest" (click)="CargaUsuarios(3)">
        <ion-label style="font-size: 12px;font-family: Mokoto;">Invitado</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-card class="card" style="margin-top: 28%;">
      <ion-card-content>
        <form (submit)="Login()">
          <ion-item class="ion-item">
            <ion-icon name="person" class="icon-login"></ion-icon>
            <ion-input style="font-size: 20px;font-family: Mokoto;" class="ionput" aria-label="Correo" [formControl]="correo" [clearOnEdit]="true" type="email"
              required placeholder="Correo" errorText="Correo invalido" helperText="Ingrese un correo valido"
              full></ion-input>
          </ion-item>
          <div class="alert alert-danger mensajeError mt-1 bi bi-exclamation-octagon-fill"
            [hidden]="correo.valid || (correo.pristine && correo.untouched)">
  
            <span *ngIf="correo.errors?.['required']">
              Este campo es obligatorio
            </span>
  
            <span *ngIf="correo.errors?.['email']">
              Debe contener @
            </span>
          </div>
          <br>
          <ion-item class="ion-item">
            <ion-icon name="key" class="icon-login"></ion-icon>
            <ion-input  style="font-size: 20px;font-family: Mokoto;" class="ionput"  [formControl]="password" aria-label="Contraseña" [clearOnEdit]="true" type="password" required
              placeholder="Contraseña" [counter]="true" maxlength="8"
              errorText="Contraseña incorrecta" full></ion-input>
          </ion-item>
  
          <div class="alert alert-danger mensajeError mt-1 bi bi-exclamation-octagon-fill"
            [hidden]="password.valid || (password.pristine && password.untouched)">
  
            <span *ngIf="password.errors?.['required']">
              Este campo es obligatorio
            </span>
  
            <span *ngIf="password.errors?.['minlength']">
              Debe tener como minimo 6 caracteres
            </span>
  
          </div>
          <br>
          <div>
            <ion-button style="font-family: Mokoto; font-size: 20px;" expand="block" type="submit"> Ingresar </ion-button>
          </div>
  
        </form>
      </ion-card-content>
      <img class="gif" src="/assets/images/login.png"/>

    </ion-card>
    
    <div *ngIf="showSpinner" class="custom-spinner">
      <img src="/assets/images/icon.png"/>
    </div>
  </ion-content>
  </div>